
@media screen and (min-width: 992px) {
    .content{
        max-width: 992px;
        height: auto;
        margin: 1rem auto ;
        border-radius: 1rem;
    }    
}

@media screen and (min-width: 380px) {
    .pokemons{
        grid-template-columns: 1fr 1fr;
    }    
}

@media screen and (min-width: 576px) {
    .pokemons{
        grid-template-columns: 1fr 1fr 1fr;
    }    
}

@media screen and (min-width: 992px) {
    .pokemons{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }    
}

.pokemons{
    display: grid;
    grid-template-columns: 1fr;
    list-style: none;
    margin: 0;
    padding: 0;
}

.pokemon{
    margin: .5rem;
    padding: 2rem 1rem;
    
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
}
.pokemon .number{
    color: #000;
    opacity: .3;
    text-align: right;
    font-size: .625rem;
}
.pokemon .name{
    color: #fff;
    margin-bottom: 0;
    text-transform: capitalize;
}
.pokemon .detail .types{
    padding: 0;
    margin: 0;
    list-style: none;
}
.pokemon .detail{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}
.pokemon .detail img{
    height: 70px;
    max-width: 100%;
    align-self: flex-end;
    transform: rotateY(180deg);
}

.pokemon .detail .types .type{
    text-align: center;
    filter: brightness(1.2);
    color: #fff;
    padding: .25rem .5rem;
    margin: .25rem;
    font-size: .75rem;
    border-radius: 1rem;
}

.normal {
    background-color: #898d63
}
.grass {
    background-color: #4ac970
}
.fire {
    background-color: #b45428
}
.water {
    background-color: #135ca0
}
.electric {
    background-color: #9798ec
}
.ice {
    background-color: #aed5d6
}
.ground {
    background-color: #4d4739
}
.flying {
    background-color: #868680
}
.poison {
    background-color: #8b25a5
}
.fighting {
    background-color: #898d63
}
.psychic {
    background-color: #532070
}
.dark {
    background-color: #19182e
}
.rock {
    background-color: #6d6d6d
}
.bug {
    background-color: #7eb390
}
.ghost {
    background-color: #ffffff
}
.steel {
    background-color: #534d4d
}
.dragon {
    background-color: #350d0b
}
.fairy {
    background-color: #ef3dff
}
